.wrapper {
    width: 1460px;
    background: #171717;
    padding: 37px 230px 240px 230px;
    margin: 0 auto;
    font-family: 'Gilam', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    width: 216px;
    height: 33px;
}

.button {
    color: #E4B564;
    border: 1px solid #E4B564;
    font-size: 18px;
    width: 218px;
    height: 50px;
    cursor: pointer;
    background: #171717;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.call {
    width: 13px;
    height: 13px;
    padding-right: 10px;
}

.title-1 {
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 128px;
}

.text {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 40px;
    line-height: 28px;
}

.list-services {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:repeat(2, 468px);
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.services-1 {
    background: #634F2C;
    grid-column: span 2;
    padding-top: 220px;
}

.services-2 {
    background: #B4A385;
    grid-column: span 2;
    padding-top: 220px;
}

.services-3 {
    background: #E4B564;
    grid-column: span 2;
    padding-top: 220px;
}

.services-4 {
    background: #635A4A;
    grid-column: span 3;
    padding-top: 220px;
}

.services-5 {
    background: #B08C4D;
    grid-column: span 3;
    padding-top: 220px;
}

.title-2 {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 161px;
    margin-bottom: 94px;
}

.construction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    gap: 30px;
    height: 900px;
}

.construction-1 {
    background: #0E0E0E;
    grid-area: 1/1/4/1;
}

.construction-2 {
    background: #242424;
    grid-area: 1/3/5/2;
}

.construction-3 {
    background: #1F1F1F;
    grid-area: 1/3/3/3;
}

.construction-4 {
    background: #1F1F1F;
    grid-area: 4/1/9/2;
}

.construction-5 {
    background: #E4B564;
    color: #000000;
    grid-area: 5/2/9/3;
    margin-bottom: 30px;
}

.construction-6 {
    background: #0E0E0E;
    grid-area: 3/3/7/3;
}

.construction-7 {
    background: #0A0909;
    grid-area: 7/3/9/4;
}

.work-const {
    display: block;
    padding: 30px;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 364px;
    margin-bottom: 72px;
}

.text-footer {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

.button-2 {
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
    background: #171717;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.clienty {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0;
}

.clienty > li {
    width: 486px;
    height: 391px;
    display: flex;
    align-items: center;
}

.img {
    height: 49px;
}

.link-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: 600;
}

.text-display {
    display: none;
}

.hoverClass:hover > .link-footer > .text-display {
    display: block;
}

.adress {
    font-weight: 400;
}

.footer-block1 {
    background-color: #634F2C;
}

.footer-block2 {
    background: rgba(232, 210, 171, 0.76);
}

.footer-block3 {
    background-color: #E4B564;
}

.footer-block4 {
    background: #635A4A;
}

.footer-block5 {
    background: #B08C4D;
}

.footer-block6 {
    background: #634F2C;
}